$white: #ffffff;
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;
$darkblue: #1c1f27;
$midblue: #282c37;
$liteblue: #313541;
$tosca: #72cdd2;
$cloud: #f4f7fa;
$green: #92d72e;
$greyblue: #647d80;
$grey: #a9abaf;
$text-grey: #cccccc;